#loginModal.modal.hide.fade{:style => "display: none; width:auto;"}
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    請先登入
  .modal-body
    Facebook 登入
    =link_to "Facebook", user_omniauth_authorize_path(:facebook)
    %hr
    = form_for(User.new, :url => session_path(User.new)) do |f| 
      = f.label :email
      = f.email_field :email

      = f.label "密碼"
      = f.password_field :password
      %br
      = f.submit "登入"
      or 
      = link_to "註冊",new_registration_path(User.new)
